:root {
    box-sizing: border-box;

}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellow;
}

h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 75px;
    color: rgb(88, 2, 88);
    
    
}
#message {
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    color:rgb(88, 2, 88);
 
 
}


#board { 
    display: flex;
    border: 5px solid rgb(2, 2, 2);
    background: yellow;
    height: 400px;
    width: 600px;
    margin: 50px auto;
}

.column {
    background: purple;
    /* height: 400px; */
    width: 300px;
    outline: 5px solid darkblue;
    display: flex;
    flex-direction: column-reverse;
    
}

.row{
    outline: 1px solid black;
    height: 67px;
   
}
.disc{
    height:50px;
    width:150px;
 
}
.discYellow{
    height:50px;
    width:58px;
    border-radius: 50%;
    background-color: yellow;
    margin:10px;
}
.discRed{
    height:50px;
    width:58px;
    border-radius: 50%;
    background-color: red;
    margin:10px;
}